{% load static %}

<!DOCTYPE html>
<html lang="
" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Z</title>

    <link href="{% static '/css/main.css' %}" rel='stylesheet' type= 'text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body h-100 border-info" id="profile-wrapper">
            <img id="profile-pic" src="{% static 'images/prf.png' %}" >
            <hr>
            <h4>Hi this is Z</h4>
            <p>This is a test</p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-body h-100 border-info">
            <h4>First job</h4>
          <hr>
          <p>This is a test code project</p>
          <p> Going up and down</p>
          <p>wowzer</p>

          <ul class= "social-links">
            <li><img class="social" src="{% static 'images/fb.png' %}" ></li>
            <li><img class="social" src="{% static 'images/twitter.png' %}" ></li>
            <li><img class="social" src="{% static 'images/youtube.png' %}" ></li>

          </ul>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My experience</h5>
          <hr>
          <p>This is a test code project</p>
          <p> Going up and down</p>
          <p>wowzer</p>
          </div>

        </div>
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My talents</h5>
          <hr>
          <p>This is a test code project</p>
          <p> Going up and down</p>
          <p>wowzer</p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My life</h5>
          <hr>
          <p>This is a test code project</p>
          <p> Going up and down</p>
          <p>wowzer</p>
          </div>

        </div>
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My music</h5>
          <hr>
          <p>This is a test code project</p>
          <p> Going up and down</p>
          <p>wowzer</p>
          </div>
        </div>
      </div>
      <br>

    </div>


  </body>
</html>
